/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap');
/**/
body {
    background-color: #c2dad6;
    margin: 0;
    text-align: center;
}

.container {
    margin: 10px auto 30px auto;
    width: 60%;

}

h1{
    font-size: 36px;
}
h2{
    font-size: 26px;
}
h1,
h2 {
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}

img {
    max-width: 80%;
    height: auto;
}

figcaption {
    margin-top: 5px;
    font-size: 14px;
}

.intro {
    margin: 8px auto 8px auto;
}

ul ,
ol{
    display: table;
    margin: 0 auto 0 auto;
}

ul li ,
ol li{
    text-align: left;
    font-size: 17px;
}