/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

/**/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #c2dad6;
    margin: 0;
    text-align: center;
}

.container {
    margin: 10px auto 30px auto;
    width: 60%;

}

.homebutton {
    margin: 0;
}

h1 {
    font-size: 36px;
    margin-top: 12px;
}

h2 {
    font-size: 26px;
}

h1,
h2 {
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}

img {
    max-width: 80%;
    height: auto;
    box-shadow: 2px 2px 14px #000;
    border-radius: 10px;
}

figcaption {
    margin-top: 7px;
    font-size: 14px;
}

.intro {
    margin: 8px auto 8px auto;
}

p,
li {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
}

ul,
ol {
    display: table;
    margin: 0 auto 0 auto;
}

ul li,
ol li {
    text-align: left;
    font-size: 17px;
    margin: 5px auto 5px auto
}

/* FIREFOX SUPPORT*/
@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {

    figcaption {
        font-size: 12px;
    }
}